body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header{
    background-image: url("images/background/header-background-1.png");
    background-position: center;
    background-size: cover;
    width: 1515px;
    height: 1009px;
    padding: 3.125rem;
}

@layer profile{

.profile-card{
    display: flex;
    align-items: center;
}

.profile-card > img{
    width: 300px;
    height: 300px;
    border-radius: 29px;
}

.profile-info-container{
    box-sizing: border-box;
    width: 995px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 29px;
    margin-left: 20px;
    padding: 59px 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin: 0;
    margin-bottom: 16px; 
}

.bio{
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color:#5C5C5C;
}
}

@layer proficiency{

.proficiency{
    box-sizing: border-box;
    width: 564px;
    height: 428px;
    padding: 41px 28px;
    border-radius: 29px;
    background-color: #ffffff;
    margin-top: 39px;
}

h2{
    font-weight: 500;
    font-size: 34px;
    margin: 0;
    margin-bottom: 10px;
}

.levels{
    display: flex;
    font-size: 17px;
    justify-content: end;
}

.beginner, .intermediate, .advance{
    margin-left: 45px;

}

.proficiency-names{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-self: center;
}

.proficiency-names > ul{
    list-style-type: none;
    margin: 0;
    margin-left: -40px;
    padding: 0;
    font-weight: 500;
    font-size: 19px;
}

.proficiency-levels{
   display: grid;
   grid-template-columns: 141px 321px;
   
}

.proficiency-bars{
    display: flex; 
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.html-css-bar{
    width: 300px;
    height: 27px;
    border-radius: 7px;
    background-color: #4A8B70;
    grid-column: 1/ -1;
}

.js-bar{
    width: 120px;
    height: 27px;
    border-radius: 7px;
    background-color: #4A8B70;
    grid-column: 1/ -1;
}

.tailwind-bar{
    width: 260px;
    height: 27px;
    border-radius: 7px;
    background-color: #4A8B70;
    grid-column: 1/ -1;
}

.node-js-bar{
    width: 50px;
    height: 27px;
    border-radius: 7px;
    background-color: #4A8B70;
    grid-column: 1/ -1;
}

}

@layer skills{
    
}