header{
    background-image: url("images/background/header-background-1.png");
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.profile-card{
    display: grid;
    grid-template-columns: 300px 1fr;
    border: 2px solid black;
}

.profile-card > img{
    width: 300px;
    height: 300px;
    border-radius: 29.04px;
}

.profile-card > div{
    box-sizing: border-box;
    width: 995px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 29.04px;
    margin-left: 20px;
    padding: 30px 69px;
}

.bio{
    font-size: 22px;
    width: 856px;
    line-height: 151%;
}
